<template>

    <div>
        <h1>copang</h1>
        <div class="flex"><img src="/images/banner-photo.jpg" alt="메인사진"/></div>
        <section>
            <div class="in-card-copang-info">
                <div class="photo"><img src="/images/toy-photo.jpg" alt="전화기장난감"/></div>
                <div class="title">계산기</div>
                <div class="Price">17000원</div>
                <div class="Expiration">2023-12-05</div>
            </div>
            <div class="in-card-copang-info">
                <div class="photo"><img src="/images/toy-photo2.jpg" alt="강아지장난감"/></div>
                <div>로봇강아지</div>
                <div>18000원</div>
                <div>2023-12-05</div>
            </div>
            <div class="in-card-copang-info">
                <div class="photo"><img src="/images/toy-photo3.jpg" alt="동전노래방"/></div>
                <div>똘똘이 동전노래방</div>
                <div>15000원</div>
                <div>2023-12-05</div>
            </div>
            <div class="in-card-copang-info">
                <div class="photo"><img src="/images/toy-photo4.jpg" alt="앵무새장난감"/></div>
                <div>앵무새</div>
                <div>25000원</div>
                <div>2023-12-05</div>
            </div>
            <div class="in-card-copang-info">
                <div class="photo"><img src="/images/toy-photo5.jpg" alt="뽀로로경찰"/></div>
                <div>뽀로로는경찰</div>
                <div>20000원</div>
                <div>2023-12-05</div>
            </div>
        </section>
    </div>
</template>
<script>
export default {
    date() {
        return {}
    }

}
</script>
